<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Contact</title>

<link rel="stylesheet" href="style.css">

</head>

<body>

<header>
<nav class="navbar">

<div class="logo">
<img src="Logo.jpeg">
<h2>Rara Processing</h2>
</div>

<ul class="nav-links">
<li><a href="index.html">Home</a></li>
<li><a href="products.html">Products</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="contact.html">Contact</a></li>
<li><a href="order.html" class="order-btn">Order Now</a></li>
</ul>

</nav>
</header>

<section class="contact">

<h1>Contact Us</h1>

<form class="contact-form">

<input type="text"
placeholder="Your Name">

<input type="email"
placeholder="Your Email">

<textarea
placeholder="Your Message">
</textarea>

<button type="submit">
Send Message
</button>

</form>

</section>
<h2>Our Location</h2>

<div class="map">

<iframe
src="https://maps.app.googl/6KmVw1b5UoYfuALj7"
width="100%"
height="300"
style="border:0;"
allowfullscreen=""
loading="lazy">

</iframe>

</div>

<footer>

<p>
© 2026 Rara Processing Pvt. Ltd.
</p>

</footer>

</body>
</html>