<h1>रारा प्रोसेसिङ प्रा. लि.</h1>

<p>
एक विश्वसनीय पिउने पानी प्रशोधन कम्पनी हो जसले घर, कार्यालय तथा व्यवसायका लागि स्वच्छ, <br>
सुरक्षित र गुणस्तरीय पिउने पानी उपलब्ध गराउने लक्ष्य राखेको छ।

हामी आधुनिक प्रविधि र उच्च सरसफाइ मापदण्ड प्रयोग गरी ग्राहकलाई स्वास्थ्यकर र शुद्ध पानी उपलब्ध गराउन प्रतिबद्ध छौं।
</p>

<h1>हाम्रो लक्ष्य (Vision)</h1>
<p>
उच्च गुणस्तरको सेवा प्रदान गर्दै विश्वसनीय पिउने पानीको अग्रणी ब्रान्ड बन्ने।
</p>

<h1>हाम्रो उद्देश्य (Mission)</h1>
<P>१००% सुरक्षित र स्वच्छ पिउने पानी उपलब्ध गराउने</P>
<p>उच्च गुणस्तरको मापदण्ड कायम राख्ने</p>
<p>समयमै सेवा प्रदान गर्ने</p>
<p>ग्राहक सन्तुष्टि सुनिश्चित गर्ने</p>

<h1>गुणस्तर सुनिश्चितता</h1>
<p>हामी आधुनिक RO, UV र Ozone प्रविधि प्रयोग गरी पानीलाई पूर्ण रूपमा शुद्ध बनाउँछौं।</p>