<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Products - Rara Processing</title>

<link rel="stylesheet" href="style.css">

</head>

<body>

<header>
<nav class="navbar">

<div class="logo">
<img src="Logo.jpeg">
<h2>Rara Processing</h2>
</div>

<ul class="nav-links">
<li><a href="index.html">Home</a></li>
<li><a href="products.html">Products</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="contact.html">Contact</a></li>
<li><a href="order.html" class="order-btn">Order Now</a></li>
</ul>

</nav>
</header>

<section class="products">

<h1>Our Products</h1>

<div class="product-container">

<div class="product-card">
<img src="Bollte1.jpeg">
<h3>500ml Water Bottle</h3>
<p>Pure and safe drinking water.</p>
<a href="order.html"
class="buy-btn">
Order Now
</a>
</div>

<div class="product-card">
<img src="Bottle2.jpeg">
<h3>1 Liter Bottle</h3>
<p>Healthy hydration for daily use.</p>
<a href="order.html"
class="buy-btn">
Order Now
</a>
</div>

<div class="product-card">
<img src="Bottle3.jpeg">
<h3>20 Liter Jar</h3>
<p>Perfect for home and office.</p>
<a href="order.html"
class="buy-btn">
Order Now
</a>
</div>

</div>
<table class="price-table">

<tr>
<th>Product</th>
<th>Size</th>
<th>Price</th>
</tr>

<tr>
<td>Water Bottle</td>
<td>500ml</td>
<td>Rs. 25</td>
</tr>

<tr>
<td>Water Bottle</td>
<td>1 Liter</td>
<td>Rs. 40</td>
</tr>

<tr>
<td>Water Jar</td>
<td>20 Liter</td>
<td>Rs. 120</td>
</tr>

</table>

</section>

<footer>
<p>© 2026 Rara Processing Pvt. Ltd.</p>
</footer>

</body>
</html>